<!-- <h3>This is my first COntainer COMPONENT</h3> -->
<!-- 
<div class="wrapper">

  
    <app-nav></app-nav>
    <app-header></app-header>
    
    
    <app-notification></app-notification>
    <app-search></app-search>
    <app-products></app-products>
   
</div>  -->






<!--trailss-->
<div class="bb"> <b> <i> Electronic items </i></b> </div>
<div class="wrapper">

  
    <app-nav></app-nav>
    <app-header></app-header>
    
    
    <app-notification></app-notification>
    <app-search></app-search>
    <app-products></app-products>
   
</div> 


    
   



