<!-- <h5>Nav component</h5> -->
<!-- 
<div class="navbar">
    
     <div class="site-name">
    <h2>e-Shopping</h2>
    </div> 

    <div class="site-menu">
        <a href="#">HOME</a>
        <a href="#">ABOUT</a>
        <a href="#">CONTACT</a>
        <a href="#">CART</a>
        <a href="#">PRODUCTS</a>
    </div>
    
</div> -->


<!---Trailsss-->

<div class="navbar">
    
    <div class="site-name">
   <h2>e-Shopping</h2>
   </div> 

   <div class="site-menu">
       <a href="#"><b>HOME</b></a>
       <b><a href="https://www.amazon.in/?tag=msndeskstdin-21&hvadid=72568000098455&hvqmt=e&hvbmt=be&hvdev=c&ref=pd_sl_53f5xqxa4t_e">ABOUT</a></b>
       <b><a href="https://www.w3schools.com">CONTACT</a></b>
       <b><a href="#">CART</a></b>
       <b><a href="#">PRODUCTS</a></b>
   </div>
   
</div>

