<!-- <h1> my-app ROOT COMPONENT</h1> 
  <app-container></app-container>   -->
<!-- <app-header></app-header>
<app-nav></app-nav> no-->


<!------------------------1st--------------->
 <!-- <div class="wrapper">
    <app-container></app-container> 
</div>   -->




<!----------------------2nd------------------>

<!-- <div class="wrapper">
    <div class="container justify-content-evenly">
        <div class="row">
            <div class="col-6">
                <app-angular></app-angular>
            </div>
            <div class="col-6">
                <app-react></app-react>
            </div>
        </div>
    </div>
</div>  -->










<!-----1st trailsssss-->
 <!-- <div class="aa">
    <h1>My first: {{title}} </h1>
</div>
<div class="wrapper">  
    <app-container></app-container> 
</div>  -->


<!----------------------2nd trailsss------------------>
 <div class="wrapper">
    <div class="container ">
        <div class="row">
            <div class="col-6">
                <app-angular></app-angular>
            </div>
            <div class="col-6">
                <app-react></app-react>
            </div>
        </div>
    </div>
</div>  