.wrapper{
    
    /* background-color: lightcyan; */

    background-color: rgb(167, 171, 228);

    /*font-size: small;*/
    font-size: large;
    

    padding-top: 20px;
    padding-bottom: 20px;
} 


/* 1st trialssssss*/

.aa{
    text-align: center;
    background-color: rgb(175, 144, 203);
    padding-top: 10px;
    padding-bottom: 10px; padding-top: 10px;
    padding-bottom: 10px;
   
}
